.label-color {
  color: var(--ion-text-color-light-grey);
}

.input {
  // border-radius: 10px;
  // border: 1px solid var(--ion-input-border-color) !important;
  min-height: 40px !important;
  position: relative;

  // --highlight-color-focused: none;
  // --highlight-color-invalid: none;
  // --highlight-color-valid: none;

  --placeholder-color: var(--ion-input-place-holder-color);

  --padding-start: 8px;

  background-color: var(--ion-input-background-color);

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.error-text {
  color: var(--ion-color-danger-shade);
  word-wrap: break-word;
  white-space: break-spaces;
}
