.custom-tooltip {
  background: #ffffff;
  padding: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  width: fit-content;
}

.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  left: calc(-50% - 4.8px);
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  right: calc(50% - 4.8px);
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.p-tooltip-text {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  color: black;
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
  border-right-color: white;
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
  border-left-color: white;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: white;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: white;
}