<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Contacts </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    @for (user of filteredUsers; track $index) {
    <ion-item (click)="onChat(user)">
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        {{ user.label }}
      </ion-label>
    </ion-item>
    }
  </ion-list>


</ion-content>